[submodule "assets/JSON-js"]
	path = assets/JSON-js
	url = git://github.com/douglascrockford/JSON-js.git
[submodule "assets/ImageManager"]
	path = assets/ImageManager
	url = git@github.com:JamesSwift/ImageManager.git
